a:hover {
  text-decoration: none;
}

input.form-control {
  margin-bottom: 5px;
}

.navbar-header {
  width: 100%;
  padding: 0 15px;
}

.widget {
  position: relative;
  margin-bottom: 10px;
}

.widget-toolbar {
  position: absolute;
  background-color: white;
  top: 0px;
  right: 0px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  opacity: 0.8;
}
