<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div class="navbar-text pull-left">
      <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-brand">Choose Widget</div>
  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="" ng-click="model.showWidgetPage('HEADING')">Heading</a>
    </li>
    <li class="list-group-item">
      <a href="" ng-click="model.showWidgetPage('HTML')">HTML</a>
    </li>
    <li class="list-group-item">
      <a href="" ng-click="model.showWidgetPage('IMAGE')">Image</a>
    </li>
    <li class="list-group-item">
      <a href="" ng-click="model.showWidgetPage('TEXT')">Text</a>
    </li>
    <li class="list-group-item">
      <a href="" ng-click="model.showWidgetPage('YOUTUBE')">YouTube</a>
    </li>
  </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
