<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div class="navbar-text pull-left">
      <a href="#/widget-list" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-brand">Widget Edit</div>
    <div class="navbar-text pull-right">
      <a href="#/widget-list" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="size">Size</label>
      <input ng-model="model.widget.size" type="text" class="form-control" id="size" placeholder="0">
    </div>
    <a class="btn btn-danger btn-block" href="#/widget-list">Delete</a>
  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-text pull-right">
        <a href="#/profile" class="navbar-link">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
