<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div class="navbar-text pull-left">
      <a href="#!/user/{{model.userId}}" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-brand">Websites</div>
    <div class="navbar-text pull-right">
      <a href="#!/user/{{model.userId}}/website/new" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group">
    <li ng-repeat="website in model.websites" class="list-group-item">
      <div class="row">
        <div class="col-xs-10">
          <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
            {{website.name}}
          </a>
        </div>
        <div class="col-xs-2">
          <a href="#!/user/{{model.userId}}/website/{{website._id}}">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
