<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div class="navbar-text pull-left">
      <a href="#!/user/{{model.userId}}/website" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-brand">New Website</div>
    <div class="navbar-text pull-right">
      <a ng-click="model.createWebsite(website)" href="#!/user/{{model.userId}}/website" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-lg-4 hidden-xs hidden-sm hidden-md">
    <h1>Websites</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="website in model.websites">
        <div class="row">
          <div class="col-xs-10">
            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
          </div>
          <div class="col-xs-2">
            <a href="#!/user/{{model.userId}}/website/{{website._id}}">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-lg-8">
    <h1>New Website</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="website.name" type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="website.description" id="description" rows="5" class="form-control" placeholder="Description"></textarea>
      </div>
    </form>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
