<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input ng-model="model.widgets.name" type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <input ng-model="model.widgets.text" type="text" class="form-control" id="text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input ng-model="model.widgets.url" type="text" class="form-control" id="url" placeholder="https://youtu.be/Y2VF8tmLFHw">
    </div>
    <div class="form-group">
      <label for="width">Width</label>
      <input ng-model="model.widgets.width" type="text" class="form-control" id="width" placeholder="100%">
    </div>
  </form>
</div>
