<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div class="navbar-text pull-left">
      <a href="#/page-list" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="navbar-brand">New Page</div>
    <div class="navbar-text pull-right">
      <a href="#/page-list" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input ng-model="vm.page.name" type="text" class="form-control" id="name" placeholder="Page Name">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input ng-model="vm.page.title" type="text" class="form-control" id="title" placeholder="Page Title">
    </div>
  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-text pull-right">
        <a href="#/profile" class="navbar-link">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
